<%- include("header") -%>
<link rel="stylesheet" href="css/game.css">

<h2>Crush It</h2>


<div class="container scorebox">
  <div class="row">
    <div class="col-sm">
      <h4>Score</h4>
    </div>
    <div class="col-sm">
      <h4 class="score">0</h4>
    </div>
  </div>
</div>


<button class="btn btn-primary">Change order</button>

<% var items = Array("ðŸ’—", "ðŸ’", "ðŸ’›", "ðŸ’š");%>
<table class="tables table-bordered">
  <tbody>
    <tr>
      <td class="a 1"><%=items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 2"><%=items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 3"><%=items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 4"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 5"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 6"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 7"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 8"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 9"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 10"><%= items[Math.floor(Math.random()*items.length)]%></td>
    </tr>
    <tr>
      <td class="a 11"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 12"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 13"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 14"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 15"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 16"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 17"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 18"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 19"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 20"><%= items[Math.floor(Math.random()*items.length)]%></td>
    </tr>
    <tr>
      <td class="a 21"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 22"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 23"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 24"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 25"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 26"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 27"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 28"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 29"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 30"><%= items[Math.floor(Math.random()*items.length)]%></td>
    </tr>
    <tr>
      <td class="a 31"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 32"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 33"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 34"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 35"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 36"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 37"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 38"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 39"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 40"><%= items[Math.floor(Math.random()*items.length)]%></td>
    </tr>
    <tr>
      <td class="a 41"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 42"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 43"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 44"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 45"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 46"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 47"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 48"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 49"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 50"><%= items[Math.floor(Math.random()*items.length)]%></td>
    </tr>
    <tr>
      <td class="a 51"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 52"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 53"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 54"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 55"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 56"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 57"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 58"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 59"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 60"><%= items[Math.floor(Math.random()*items.length)]%></td>
    </tr>
    <tr>
      <td class="a 61"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 62"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 63"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 64"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 65"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 66"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 67"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 68"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 69"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 70"><%= items[Math.floor(Math.random()*items.length)]%></td>
    </tr>
    <tr>
      <td class="a 71"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 72"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 73"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 74"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 75"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 76"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 77"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 78"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 79"><%= items[Math.floor(Math.random()*items.length)]%></td>
      <td class="a 80"><%= items[Math.floor(Math.random()*items.length)]%></td>
    </tr>
  </tbody>
</table>
<script src="js/game.js"></script>
<!-- ///////////jquery///////////////// -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<%- include("footer") -%>
