<%- include("header") -%>
<link rel="stylesheet" href="css/game.css">

<h2>Crush It</h2>
<button class="btn btn-primary">Change order</button>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Score</h3>
    </div>
    <div class="col-sm">
      <h5></h5>
    </div>
  </div>
</div>




<table class="tables table-bordered">
  <tbody>
    <tr>
      <td class="a 1"><%= 1%></td>
      <td class="a 2"><%= 1%></td>
      <td class="a 3"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 4"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 5"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 6"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 7"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 8"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 9"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 10"><%= Math.floor(Math.random()*4+1)%></td>
    </tr>
    <tr>
      <td class="a 11"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 12"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 13"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 14"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 15"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 16"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 17"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 18"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 19"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 20"><%= Math.floor(Math.random()*4+1)%></td>
    </tr>
    <tr>
      <td class="a 21"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 22"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 23"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 24"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 25"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 26"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 27"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 28"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 29"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 30"><%= Math.floor(Math.random()*4+1)%></td>
    </tr>
    <tr>
      <td class="a 31"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 32"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 33"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 34"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 35"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 36"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 37"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 38"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 39"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 40"><%= Math.floor(Math.random()*4+1)%></td>
    </tr>
    <tr>
      <td class="a 41"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 42"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 43"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 44"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 45"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 46"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 47"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 48"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 49"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 50"><%= Math.floor(Math.random()*4+1)%></td>
    </tr>
    <tr>
      <td class="a 51"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 52"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 53"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 54"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 55"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 56"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 57"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 58"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 59"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 60"><%= Math.floor(Math.random()*4+1)%></td>
    </tr>
    <tr>
      <td class="a 61"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 62"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 63"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 64"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 65"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 66"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 67"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 68"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 69"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 70"><%= Math.floor(Math.random()*4+1)%></td>
    </tr>
    <tr>
      <td class="a 71"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 72"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 73"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 74"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 75"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 76"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 77"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 78"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 79"><%= Math.floor(Math.random()*4+1)%></td>
      <td class="a 80"><%= Math.floor(Math.random()*4+1)%></td>
    </tr>
  </tbody>
</table>
<script src="js/game.js"></script>
<!-- ///////////jquery///////////////// -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<%- include("footer") -%>
